button, button:focus, button:active, input, input:focus {
  outline: none!important;
  border: none!important;
}

input::placeholder {
  color: #fff!important;
}

.analyze-btn {
  box-shadow: 4px 3px 18px -6px rgba(0,0,0,0.11);
  transition: 0.5s;
}

.analyze-btn:hover {
  box-shadow: 4px 3px 18px -6px rgba(0,0,0,0.35);
}

